[2019-05-04 01:29] JayBlackedOut opened #1 "Issue: Sensor state fails to update"
**Describe the bug**
Sensor is set up but does not update.

**Expected behavior**
Sensor state should update to `abstractGameState` or `No game scheduled`.

**Desktop (please complete the following information):**
 - OS: Windows 10
 - Browser: Chrome
 - Version: 74

[2019-05-04 17:46] JayBlackedOut commented on #1
Corrected in commit `518cdca`

[2019-05-04 17:46] #1 closed

[2019-05-14 13:14] adamhunt08 opened #2 "Track Multiple teams"
**Describe the bug**
Tracking two teams.  Currently using the conference finals to test.  Have created two sensors but both cards with the differing team sensors are showing the same home/away results.  I am aware that the team_ids are incorrect for my descriptions.

**To Reproduce**
create two sensors with two different teams.  change device id in configuration.yaml to correct device id.  create

[2019-06-15 13:39] JayBlackedOut commented on #2
Hi @adamhunt08 ,
I've been away for the past month. I'll try to take a look at this today. Unfortunately, with the playoffs now over, I don't think I'll be able to replicate this. I imagine it's an issue with the sensor script only allowing the creation of one sensor in Home Assistant. I'm going to peer over the code of sensors that allow multiple instances and try to adapt the script. Thanks for

[2019-06-15 17:36] dennyreiter commented on #2
I think you'll need to create separate sensors for each team.  This is what I have:

sensor:
  - platform: nhl_api
    team_id: 5
    name: 'NHL Pittsburgh Penguins'

  - platform: nhl_api
    team_id: 6
    name: 'NHL Boston Bruins'

  - platform: nhl_api
    team_id: 21
    name: 'NHL Colorado Avalanche'

  - platform: nhl_api
    team_id: 54
    name: 'NHL Vegas Knights'

  - platform: template

[2019-06-15 18:23] JayBlackedOut commented on #2
@dennyreiter That seems to be what @adamhunt08 has as well. Can you confirm that you didn't run into the same issue as described above with your set up?

[2019-06-15 18:33] dennyreiter commented on #2
Maybe I'm reading it wrong, but doesn't he just have sensors named 'away_team' and 'home_team' defined twice?  Mine have unique sensor names.
I'd like to tell you definitively that they worked, but I have slept a couple days since the last game :)
I do have a Lovelace view that shows a card for each team and it only showed the teams on the card for the team playing.

[2019-06-15 18:37] JayBlackedOut commented on #2
You're absolutely right! He gave the same name to the "bolts" and "pens" away_team and home_team template sensors. Issue closed. Thanks for the help!

[2019-06-15 18:37] #2 closed

[2019-06-15 21:55] adamhunt08 commented on #2
User error sounds about right for me.  Thank you both for your help.

[2019-09-15 23:20] dennyreiter opened #3 "Entity unavailable for when game is scheduled"
**Describe the bug**
I recently updated the component to pull from HACS, but I had not restarted until today.  The Knights and Coyotes game showed up as in progress, but I noticed that my nhl_game_day binary sensor hadn't turned on.  I fixed that to check my nhl group and restarted, but since then it tells me that my nhl_golden_knights entity is unknown.  None of the other teams I'm tracking are p

[2019-09-16 16:24] dennyreiter commented on #3
This morning the Penguins and the Bruins showed up as scheduled, and after restarting, the Knights entity is back. So maybe just some weird confluence of you restart during a game?

[2019-09-17 01:42] JayBlackedOut commented on #3
Hi Denny, I'm getting some strange behavior as well. Split-squad games are causing some issues but they seem to be separate from this. In this case, the sensors fail to even be created. I have replicated the issue so I'll look into this over the coming week since we finally have some live games to test against.

[2019-09-17 02:07] JayBlackedOut commented on #3
Found the issue. Was calling the variable `_team_id` instead of `team_id` in the sensor's update function. Should be good in version 0.1.2

[2019-09-17 02:07] #3 closed

[2019-09-17 03:43] dennyreiter commented on #3
Thanks again for this awesome component.

[2019-09-17 12:00] JayBlackedOut commented on #3
My pleasure. Thanks for using it and raising the issue!

[2019-09-23 17:57] typhoonss92 opened #4 "multiple teams issue"
**Describe the bug**
First I would like to say this is an awesome integration. This works great with 1 team but when you add more than 1 team there is no way to give the pletform: nhl-api and the team_id: # a specific output like sensor.nhl_sensor(X) and have it stay that way. I created a customize for sensor.nhl_sensor with the teams name ex: penguins then created a sensor.nhl_sensor_2 ex: lightn

[2019-09-23 19:32] CMaxim77 commented on #4
This might not be the correct place to ask, I’m sorry I couldn’t find a better place. Is there anyway to convert this to the NFL? It would be awesome if I could display division records each week for my team. Thanks!

[2019-09-23 19:46] JayBlackedOut commented on #4
@typhoonss92 Thanks for reporting your issue. Glad you're enjoying the custom component!

No need to complicate things. The component has a native configuration option that will change the "friendly name" in the front end and the entity_id. For example,

[code]

This will create `sensor.habs` instead of `sensor.nhl_sensor`. You can then build your template sensor around this. Create as many sensor

[2019-09-23 19:51] JayBlackedOut commented on #4
Hi @CMaxim77,

This custom component was built to poll the NHL's API. Unfortunately, it's not as simple as converting it to the NFL's API (if they even have a publicly accessible one, not sure). You can try asking in the [r/homeassistant](https://www.reddit.com/r/homeassistant/) Reddit community, in the official [Home Assistant forums](https://community.home-assistant.io) or as a feature request o

[2019-09-23 21:35] typhoonss92 commented on #4
Thanks. Now I have 4 teams and the correct scores below them. Love the api

Sent from RPi2 apache
________________________________
From: JayBlackedOut <notifications@github.com>
Sent: Monday, September 23, 2019 3:51:50 PM
To: JayBlackedOut/hass-nhlapi <hass-nhlapi@noreply.github.com>
Cc: Typhoonss92 <jrc9229@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [JayBlackedOut/hass-nhlapi

[2019-09-23 22:04] JayBlackedOut commented on #4
Great! I'll consider this closed.

[2019-09-23 22:04] #4 closed

[2019-10-13 01:57] priusweok opened #6 "Add which period the game is in"
Could you add which period the game is currently in?  This would allow me to setup an alert with the current score at the start of each period.

[2019-10-13 13:24] JayBlackedOut commented on #6
This is technically possible but would require I use a different endpoint than what is currently being used to get scoring data. The endpoint in question is called `liveData` and literally returns thousands of lines of json data. I want to avoid using this because users could end up consuming over a GB of data every hour. This wouldn't be fair to those with low data caps.

I'll look into adding it

[2019-10-25 00:25] thebdizzle opened #7 "No module named 'pynhl'"
I've tried installing both through HACS and manually, but each time I try to restart after adding the sensor to my config file I get this error -

`Platform error sensor.nhl_api - No module named 'pynhl'`

[2019-10-25 01:14] JayBlackedOut commented on #7
Thanks for raising the issue. This error means there was a problem installing the third party package I created called pynhl that handles the API calls.

Did you try restarting Home Assistant? If so, can you paste the content of the manifest.json file so I can troubleshoot?

[2019-10-25 01:17] thebdizzle commented on #7
I am getting this error when trying to restart through the control server page, but I think due to this error it isn’t actually letting me restart as it is checking the config first and finding this error so that’s a great point. I’ll try restarting once first before I add the sensor to my config, and see if that helps. Looks like this could be my issue with doing things in the wrong order!

From:

[2019-10-25 01:25] JayBlackedOut commented on #7
Be sure to let me know if that fixes it.

[2019-10-25 01:28] thebdizzle commented on #7
Yep that fixed it for me. I just had to restart once without adding the sensor to my config, then add it and restart again. Thanks for the help! Brilliant component!

From: JayBlackedOut <notifications@github.com>
Sent: Friday, 25 October 2019 12:25 PM
To: JayBlackedOut/hass-nhlapi <hass-nhlapi@noreply.github.com>
Cc: thebdizzle <dunham.billy@gmail.com>; Author <author@noreply.github.com>
Subject:

[2019-10-25 02:13] JayBlackedOut commented on #7
Great! Glad you like it.

[2019-10-25 02:13] #7 closed

[2019-11-22 15:25] glassbase commented on #6
Current period is in linescore data:
'''
"linescore" : {
        "currentPeriod" : 3,
        "currentPeriodOrdinal" : "3rd",
'''

[2019-11-22 18:05] JayBlackedOut commented on #6
Will add it to the to do list for a future release. Thanks.

[2019-11-23 01:29] glassbase commented on #6
@JayBlackedOut where is the code for pyNHL? I would like to help you if I could... I got quite a few ideas from the reddit post.

[2019-11-23 02:18] JayBlackedOut commented on #6
I'll invite you to the repo when I have a moment. Thanks for offering to pitch in!

[2019-12-05 03:27] marchingphoenix opened #8 "Add Game Clock to available data"
As a NHL fan, i would like to use the game clock in HA for "reasons"

AC:
Game Clock available in some way or another.

[2019-12-05 03:28] marchingphoenix opened #9 "Add SOG to available data"
As a NHL fan, I would like to have the SOG data for a game available in HA for "reasons"

AC:
SOG data available in some way or another.

[2019-12-05 03:30] marchingphoenix opened #10 "Stretch Goal: Make shot attempt position data available"
As a NHL super nerd, i would like shot position data to be available in HA for "reasons"

This is definitely not a priority, could be useful to make some pretty cards in HA though.

AC:
Shot attempt position data available in HA in some form.

[2019-12-05 03:33] marchingphoenix commented on #8
Issues added after a conversation in the HA discord. I'm willing to contribute if you would like.

[2019-12-05 03:34] trektronic commented on #6
You can get period, SOG, and Time remaining in Period from the following link that does not include live data.
https://statsapi.web.nhl.com/api/v1/schedule?teamId=19&expand=schedule.linescore

[2019-12-07 16:22] JayBlackedOut commented on #8
Hi @marchingphoenix, adding you as a collaborator in the pynhl repo. Feel free to submit PRs to both this one and that one.

[2020-01-09 04:10] typhoonss92 opened #11 "hockey stick icon - can this be changed?"
**Describe the bug**
A clear and concise description of what the bug is.
n/a
**To Reproduce**
Steps to reproduce the behavior:
n/a
**Expected behavior**
A clear and concise description of what you expected to happen.
n/a
**Screenshots**
If applicable, add screenshots to help explain your problem.
n/a
**Home Assistant Information**
 - Installation Method [e.g. venv, docker, HassIO]:
 - Version:
 -

[2020-01-09 04:34] JayBlackedOut commented on #11
Hi @typhoonss92
Thanks for the feedback! For the time being, the icon can't be overridden directly through the integration but you can look into https://www.home-assistant.io/docs/configuration/customizing-devices/#icon

Hope that helps!

[2020-01-12 13:44] bckthomas opened #12 "Need more documentation"
Hi
I try to use next_game_date and next_game_time but nothing works.
Can you help me please ?
Thanks

[2020-01-12 14:14] JayBlackedOut commented on #12
@bckthomas Sure. What are you trying to do?

[2020-01-13 19:54] bckthomas commented on #12
I don't know :)
I would like to test these features to check what they display.
How can I use them ?

[2020-01-16 01:10] waltlillyman commented on #12
@bckthomas I named my sensor, "blues_game".
If you go into Home Assistant, Developer Tools, Template, and paste this into the Template editor, you'll get the results to the right of the Template editor:

[code]
[code]
Oh, shoot, game's starting, gotta go! :)

[2020-01-16 02:26] waltlillyman commented on #6
@trektronic Oooh, shotsOnGoal is also in that small schedule.linescore JSON, that would be nice to have exposed, especially on nights NBC Sports has the game. They like their minimalist scoreboard...

[2020-01-16 04:43] waltlillyman opened #13 "Less chatty between games"
Thank you for this great custom component, @JayBlackedOut. Would you consider an enhancement where the component doesn't invoke the API every five seconds when my game isn't live? I'm not worried about data caps, but my unreliable AT&T UVerse ISP causes the component to log lots of these warnings when my game isn't happening:

`WARNING (MainThread) [homeassistant.components.sensor] Updating nhl_ap

[2020-01-19 02:06] JayBlackedOut commented on #13
This is actually what I am currently working on. I ran into an issue with how Home Assistant interprets the scan interval but I was pointed in the right direction by one of the devs. I hope to have it working in the next couple of weeks.

[2020-01-22 02:21] condio commented on #13
Can’t wait for the new update. I was hoping to see you make progress on this, so this is exciting news. I just started using your component and it’s been incredible. Thanks for your hard work.

[2020-01-26 03:53] Tollbringer commented on #13
I too would appreciate this. I am just installing your sensor as we speak. Thank you @JayBlackedOut

-- Tollbringer.

[2020-01-28 02:29] Tollbringer opened #14 "I know it's my error- can't find it!"
First of All- Thanks for this sensor- I am testing tonight for the very first time (Toronto Maple Leafs)

The sensor is slow updating for me- 10-40 seconds after Leafs score I watch the API update,
I have now set scan interval to 2. (ultimited internet on Dedicated PC with SSD.)

Where else can I check?

Thank you JayBlackedOut-- PS. Are you a Toronto Fan by chance? I see the scar of no Cup!?!

UP

[2020-01-30 16:01] Tollbringer commented on #8
I am wondering if this clock has been implemented? It would certainly be a little icing on-the-cake!

[2020-01-30 19:18] Tollbringer opened #15 "Montreal Canadiens Logo missing by default"
**Describe the bug**
When adding the Montreal Canadiens, the icon link is blank.
entity_picture: ''

![Screenshot_2020-01-30 Home Assistant](https://user-images.githubusercontent.com/44956412/73481748-782c8780-436a-11ea-9ca7-113a9c765483.png)

**To Reproduce**
Steps to reproduce the behavior:

Reinstalled fresh 3 times, complete re-deployment of hassio/hacs/nhl api

**Expected behavior**

Icon lin

[2020-01-31 01:29] JayBlackedOut commented on #15
`entity_picture_template: '{{ states.sensorcdn_sensor.attributes.away_logo }}'`

You're missing a dot.

[2020-01-31 17:43] Tollbringer commented on #15
Thank you - I caught that - and Thanks for fixing the issue so quickly! Awesome sensor. I have dedicated a Hassio instance on ProxMox  strictly for NHL sensors, automations & scripts and lights / the NHL Experience at home!.

[2020-01-31 17:43] #15 closed

[2020-02-02 00:11] JayBlackedOut commented on #14
@Tollbringer The complete opposite. I'm a habs fan 😏

Has the issue resolved itself? If not, can you give me a rundown of your setup and post your yaml? Thanks,

[2020-02-02 00:14] JayBlackedOut commented on #13
I'll be dedicating a full day to this soon once my busy work life cools down.

[2020-02-02 00:15] JayBlackedOut commented on #12
Yup. You can create a sensor from the attributes as @waltlillyman suggested.

[2020-02-02 00:15] #12 closed

[2020-02-02 00:15] #11 closed

[2020-02-03 12:27] Tollbringer commented on #14
Thanks for the response! I have been experimenting with a secondary VM of Hassio, so I have not been actively monitoring the HA with the NHL sensor. I will have it active for tonights game and will post logs and points of interest tomorrow.

I have also started to learn about API calls and I have actually recreated a variant directly.

I'll keep you posted-

Tollbringer.

[2020-02-15 23:47] JayBlackedOut commented on #14
Will consider issue closed as there has been no activity.

[2020-02-15 23:47] #14 closed

[2020-02-16 00:35] Tollbringer commented on #14
Thanks Jay- I still have this delay although I believe it is outside of this awesome Addon.

[2020-02-17 01:41] broyuken opened #16 "NFL Fork?"
Is there any chance you’d be interested/able to make a version of this for NFL teams?

[2020-02-17 01:50] JayBlackedOut commented on #16
@broyuken

Unfortunately that's outside the scope of this project. I recommend seeing if anybody from the Community forums may be interested or possibly by commenting in the Discord.

[2020-02-17 01:50] #16 closed

[2020-02-18 20:54] databoy2k commented on #13
Hey Jay. Just poked around on the branch with the changes to the scan interval. I'm thinking of the thread that was the precursor to your component: https://www.reddit.com/r/homeassistant/comments/b9vioe/got_home_assistant_to_grab_the_game_info_for_my/. One of the things that was useful was the fact that the automation had a ten minute check once a game was scheduled before getting into rapid chec

[2020-02-18 22:36] JayBlackedOut commented on #13
Threading is not recommended in the Home Assistant architecture. The devs have put in place helper functions to achieve this. The documentation is kind of lacking though but I'll get there.

[2020-04-22 21:31] loopway opened #17 "KeyError: 'nextGameSchedule'"
**Describe the bug**
If there is no scheduled game, then sensor won't load.

**To Reproduce**
Check ha log file if there is no next Game Scheduled.

**Expected behavior**
Catch exception, maybe display "no game scheduled"

**Home Assistant Information**
 - Installation Method [e.g. venv, docker, HassIO]: docker
 - Version: 0.108.6
 - Running on [e.g. raspberry pi, Intel NUC, Synology]: x86 server

[2020-04-22 22:10] JayBlackedOut commented on #17
This is an issue with the module I created that consumes the NHL's API. It is expecting the API to return a key that no longer exists since the season has been suspended. I will try to look into it this weekend.

[2020-04-26 02:52] JayBlackedOut commented on #17
@loopway Fixed in Version 0.5.1
Please update ;)

[2020-04-26 02:52] #17 closed

[2020-08-01 16:10] mmmmmtasty commented on #13
Just adding support for this feature - I'd like to have a short scan interval during games and a much longer one between them.

[2020-08-01 16:14] mmmmmtasty opened #18 "Add previous game to nhl_sensor"
As a European native, I almost always watch games the morning after then happen. I would like to be able to see the upcoming game as it is set up currently, but also have the same information for the previous game that was played. The same details of home/away team and ideally the feed url as well would be fantastic.

I imagine some people will want scores, I will not though, I just want a reminde

[2020-08-11 14:42] colino17 opened #19 "Sensor state blank when no game is scheduled"
**Describe the bug**
While there is an attribute identifying that the game_state is "No Game Scheduled", the actual sensor state reads as blank. This can cause issues in various parts of Home Assistant that rely on conditional states. See screenshot below where the card should only be showing the Montreal sensor and not the Toronto sensor.

_Example: I have a conditional lovelace card that should

[2020-08-11 15:04] JayBlackedOut commented on #19
Hi @colino17 ,
Should be an easy fix, I will look into it this week.

[2020-08-11 15:06] JayBlackedOut commented on #18
Hi @mmmmmtasty
Although I appreciate the suggestion, I will not be implementing this. You could set up an automation to notify you when a game starts/finishes and that it is ready to be viewed.

[2020-08-11 15:06] #18 closed

[2020-08-13 03:26] JayBlackedOut commented on #19
Fixed in 0.5.3!

[2020-08-13 03:26] #19 closed

[2020-08-13 03:43] colino17 commented on #19
Awesome. Thank you.

[2021-01-24 21:43] databoy2k commented on #8
Want to add in a use case that might make this enhancement critical.

I've added a new input_number for nhl_api_delay. By tieing that input slider to a delay before an automation related to a goal, I    can manually adjust the time between goal alerts and the stream that I'm watching on the fly.

Now, if I could just show the current game time, I could match the two up with basic math in my head.

[2021-01-24 22:05] JayBlackedOut commented on #8
I did the same in my implementation. I'm working on improving the sensor without touching the API call right now but may look into this in the future.

[2021-02-02 21:00] condio commented on #13
Wanted to chime in ask if we can somehow set the scan interval as a variable we define somewhere else. Like could we use automations to change it from 5 seconds to something like 3600 seconds between games? I absolutely love this add-on, but I find myself changing the scan interval manually often just to keep it sane.

Thanks.

[2021-02-02 22:19] JayBlackedOut commented on #13
I was reviewing a fork of my repository and noticed somebody may have gotten a dynamic scan interval working. I'll speak with them this weekend and test it. If successful, look out for a release shortly after.

[2021-02-11 17:34] mastermc0 commented on #13
@JayBlackedOut

I believe I have a working version.  I haven't pushed it to Github yet want to do some more testing over the weekend's games just to ensure it performs as expected.

Had to do a fair amount of refactoring and added a lot of messy debug logging but it appears to be working for me now at least.  Need some games to make sure that the API pulls and state updates happen in line with exp

[2021-02-11 17:41] JayBlackedOut commented on #13
@mastermc0 Push it to your repo and I'll help you test! I think it's best that we give users the option of setting their own polling interval and then do a "if hard_coded_interval < user_defined_interval then use user_defined_interval" check. I'll make sure the documentation clearly explains this.

[2021-02-11 17:46] mastermc0 commented on #13
Might need to do some changes to the set_polling to account for that.  The
other option would be to allow users to set their own polling values for
each game state.

On Thu, 11 Feb 2021 at 17:42, JayBlackedOut <notifications@github.com>
wrote:

--
Grant White

[2021-02-11 17:50] JayBlackedOut commented on #13
@mastermc0 Let's test it as is and figure out the rest of it later. My initial thinking is that we only want the user to define the polling interval for when the game is live. I don't see why they would need to define the polling interval for other game states as there should be no meaningful updates from the API prior to or after a game.

[2021-02-11 18:06] mastermc0 commented on #13
@JayBlackedOut

Pull request #20 is my latest code.  Most of my refactoring has been done this evening so no live games to test with but the logic is sound and it's currently polling every 10 minutes as expected.

[2021-02-11 18:06] mastermc0 commented on #13
I should also apologise for my messy code I'm fairly new to Python.

[2021-02-12 03:35] JayBlackedOut commented on #13
Just tested with the Oilers vs. Canadiens game. It works as intended! I'll try to clean up the code this weekend and push out a release. You will obviously be fully credited @mastermc0! Awesome job 😎

[2021-02-12 08:50] mastermc0 commented on #13
Good news just let me know if I can help at all.

[2021-02-14 02:33] #13 closed

[2021-02-14 02:43] JayBlackedOut commented on #6
Now that dynamic polling is implemented, I'll tackle these items next.

[2021-02-14 04:06] #6 closed

[2021-02-14 04:06] #8 closed

[2021-02-14 04:06] #9 closed

[2021-02-14 17:52] waltlillyman commented on #13
That's great, @JayBlackedOut & @mastermc0! I can't wait to try it out tomorrow afternoon!

[2021-02-15 02:41] mrwulff opened #23 "Switch to Turn Off manually?"
Is it possible to make a toggle to make this turn on or off?

Currently have a metered connection and occasionally watch the games, so a quick toggle to turn it on when would be amazing

[2021-02-15 04:01] JayBlackedOut commented on #23
Hi @mrwulff
Thanks for using the sensor! Unfortunately this request is not really in the scope of the project. The fact that it updates every 10 minutes when no game is live is sufficient for mitigating a metered connection. You can also use a custom scan interval if you are concerned about the per second update while a game is live.

[2021-02-15 04:01] #23 closed

[2021-02-15 19:56] mastermc0 opened #24 "PeriodOrdinal Error"
**Describe the bug**
Sensor doesn’t load correctly where PeriodOrdinal value is not available on the API.

**To Reproduce**
Restart Home Assistant between games.

**Expected behavior**
The sensor to populate as expected.

**Home Assistant Information**
Docker on Ubuntu Server.

**Configuration**
Add the relevent `configuration.yaml` entry.
- platform: nhl_api
   team_id: 10
   name: “Toronto Maple

[2021-02-15 19:59] JayBlackedOut commented on #24
Makes sense. I'll update pynhl and that will fix it. The component won't need to be fixed.

[2021-02-15 21:48] waltlillyman commented on #24
I can second @mastermc0 : Same error on my instance. Let me know if you need more details or help testing.

[2021-02-15 23:14] JayBlackedOut commented on #24
I caught the KeyError in pynhl. Should be fixed in v0.7.1. I tested it with the same config and it is loading successfully.

[2021-02-15 23:14] #24 closed

[2021-02-16 14:44] abhwang opened #25 "Scan Interval Config Error"
I am running Home Assistant on a Raspberry PI and want to define the scan interval to be greater than 1 second per the documentation.

My config.yaml has scan_interval: 30 and I get the following error message when checking the config for errors:
Invalid config for [sensor.nhl_api]: expected int for dictionary value @ data['scan_interval']. Got datetime.timedelta(seconds=30). (See ?, line ?).

[2021-02-16 15:35] JayBlackedOut commented on #25
Hi, are you running version 0.7.1?
Can you also paste your full log?

[2021-02-16 15:37] JayBlackedOut commented on #25
I was able to replicate this. I'm looking into it asap.

[2021-02-16 15:45] JayBlackedOut commented on #25
Looks like an issue with the configuration validator. Despite this error message, the sensor loads properly. I will look at it more closely this evening.

[2021-02-16 15:57] JayBlackedOut commented on #25
My mistake, I had the configuration validator check for an integer instead of a timedelta. Will be fixed in 0.7.2.

[2021-02-17 00:41] abhwang opened #26 "nhl_api sensor entity not created when scan_interval is specified"
**Describe the bug**
When the "scan_interval" parameter is specified in the configuration.yaml, the nhl_api sensor entity does not appear to be generated. Removing the parameter, the entity is generated.

**To Reproduce**
Specify a scan_interval in the config.yaml, restart Home Assistant.

**Expected behavior**
nhl_api sensor entity is created

**Home Assistant Information**
 - Running HassIO on R

[2021-02-17 04:32] JayBlackedOut commented on #26
Running a few tests. I can only get it working with the config validator throwing an error and I'm having a hard time figuring out why. I'll have to take a deeper dive into how Home Assistant handles config validation.

[2021-02-17 15:05] abhwang commented on #26
It appears the last version that had this working with a specified scan_interval was 0.5.4. The entity is created with a scan_interval defined. Starting with 0.6.0, the Configurator complains about the scan_interval so the entity never gets created, but this seems to be related to the bug where CONF_SCAN_INTERVAL was defined as int instead of a timedelta.

[2021-02-21 03:47] JayBlackedOut commented on #26
Just did a bunch of testing. Commit 514dffc556461700c0994455fdba38323c641a64 should fix this.
No config validation errors, works with and without a user-defined `scan_interval`.

[2021-02-21 03:55] JayBlackedOut commented on #26
Fixed in v0.7.3

[2021-02-21 03:55] #26 closed

[2021-02-25 05:36] waltlillyman opened #27 "Enhancement: expose broadcasts.name, home and away, as sensor attributes"
Enhancement request: Expose game attributes, `broadcasts.name`, for home and away, as sensor attributes so I can automate the channel my TV should select before the game starts.
Reference: https://gitlab.com/dword4/nhlapi/-/blob/master/stats-api.md
<img width="299" alt="Screen Shot 2021-02-24 at 11 30 55 PM" src="https://user-images.githubusercontent.com/19913935/109108303-e02dd880-76f8-11eb-8f1d-

[2021-02-25 22:22] JayBlackedOut commented on #27
@waltlillyman This is fairly easy to implement. I could have it showing up as a list of stations such as `"FS-N", "FS-F", "TSN"`
Would that work?

[2021-02-27 03:54] waltlillyman commented on #27
Yes, the text of “name” would be sufficient, as long as it was associated with home and away.
Thank you!

[2021-02-28 02:44] nutsofamily commented on #2
Hi Denny what does your lovelace card looklike? Thanks

[2021-02-28 03:24] dennyreiter commented on #2
I just use an entity card for each team currently. It's on my list to jazz it up.
[code]

[2021-02-28 23:32] nutsofamily commented on #2
Thanks!

[2021-03-01 02:17] JayBlackedOut commented on #10
Although I agree this would be a neat feature to have, I don't believe it to be within the scope of this project. For this to work, I would need to expose the x,y position of every shot attempt into a dictionary. That is a lot of information to digest and a custom lovelace card would need to be used to display it anyway.

Thank you for the suggestion!

[2021-03-01 02:17] #10 closed

[2021-03-01 02:41] #27 closed

[2021-03-02 03:59] nutsofamily opened #29 "Alexa issues"
- alias: 'Vancouverl Goal Announcement'
  trigger:
    platform: event
    event_type: nhl_goal
    event_data:
      team_id: "23"
  action:
    service: notify.alexa_media
    entity_id: media_player.white
    data:
      message: 'Canucks scored!'

I cannot get Alexa to report anything.

I also copied verbatum the home and away automation template you had for away and home team scores but I don

[2021-03-02 04:34] JayBlackedOut commented on #29
Hi, please format your code properly by highlighting it and clicking on the <> button. I can't tell what the issue is without seeing your indentation. Please also paste your configuration.yaml entry. Thanks.

[2021-03-02 04:44] nutsofamily commented on #29
[code]

[2021-03-02 04:45] nutsofamily commented on #29
`- alias: 'Montreal Goal Announcement'
  trigger:
    platform: event
    event_type: nhl_goal
    event_data:
      team_id: "8"
  action:
    service: notify.alexa_media
    entity_id: media_player.white
    data:
      message: 'The habs scored!'

########
- alias: 'Vancouverl Goal Announcement'
  trigger:
    platform: event
    event_type: nhl_goal
    event_data:
      team_id: "23"
  action

[2021-03-02 04:48] nutsofamily commented on #29
My lovelace card shows scores properly as well as game times. I just cant seem to get the alexa automation TTS

[2021-03-02 05:04] JayBlackedOut commented on #29
At first glance, the YAML looks fine. What happens if you trigger the automation manually from the automation config panel?

[2021-03-02 05:11] JayBlackedOut commented on #29
I just looked up your Alexa custom component. I believe you should have the following in the action section of the automation:

[code]

[2021-03-02 05:17] nutsofamily commented on #29
`- alias: Vancouverl Goal Announcement
  trigger:
    platform: event
    event_type: nhl_goal
    event_data:
      team_id: '23'
  action:
  service: notify.alexa_media
    data:
      data:
        type: tts
      target:
        - media_player.white
      message: 'Canucks scored!'`

[2021-03-02 05:20] nutsofamily commented on #29
The only TTS I hear executing is final score (albeit Alexa does not report a score just "none to ..

[2021-03-02 05:25] nutsofamily commented on #29
Executing away score I get:
Logger: homeassistant.components.automation.away_scores
Source: components/automation/__init__.py:408
Integration: Automation (documentation, issues)
First occurred: 9:24:35 PM (1 occurrences)
Last logged: 9:24:35 PM

Error while executing automation automation.away_scores: Error rendering data template: UndefinedError: 'None' has no attribute 'state'

In log

[2021-03-02 05:43] JayBlackedOut commented on #29
Everything under action is under indented. This is not an issue with the sensor or goal event though... I will close this issue but recommend you ask for help on the Home Assistant Community forums as I am no expert on how to configure your custom Alexa component properly.

[2021-03-02 05:43] #29 closed

[2021-03-04 20:15] snipes040 opened #30 "No version key in the manifest"
**Describe the bug**
Integration doesn't seem to load the sensor as it complains that it does not have a version key.

**To Reproduce**
Steps to reproduce the behavior:
Copy the nhl_api folder to the custom_components folder and restart homeassistant.

**Expected behavior**
After adding your sensor to your configuration.yaml file with your team ID the sensor would show up.
**Screenshots**
If appli

[2021-03-04 20:24] JayBlackedOut commented on #30
Thanks for raising this. I will add the key and push an update very soon.

[2021-03-05 17:51] JayBlackedOut commented on #30
Fixed in v0.8.1

[2021-03-05 17:51] #30 closed

[2021-03-07 03:53] nutsofamily commented on #2
Hi I love this. How do I write into my config if i want to list current standings. Be nice to have it update after each game.
Noob please.

[2021-03-07 05:54] JayBlackedOut commented on #2
Hi there. Glad you like it. That's not a father of this component nor within the scope of what it is to accomplish. It is only meant to track as team from game to game, not in the standings.

[2021-03-08 16:18] nutsofamily commented on #2
Ok thanks. It would be cool to have a card populate standings.

[2021-03-11 01:49] dennyreiter commented on #2
If you use Node Red, I have a kludgy system worked out for it.

[2021-03-21 00:09] nutsofamily opened #31 "Delay"
Anyway to fix the 20-40 sec delay.
Watching on CBC and Sportsnet Canada and the goals scored but my automations are delayed by 15+ seconds. I have refresh on config at 1 sec.

[2021-03-21 00:55] JayBlackedOut commented on #31
If your scan_interval is set to 1 second, you are getting the update pretty much exactly when the NHL updates the API. There is nothing I can do about that.

[2021-03-21 00:55] #31 closed

[2021-03-21 01:05] waltlillyman commented on #31
@nutsofamily If it makes you feel any better, I've watched games on live network broadcast, cable regional provider, and streamed providers, and the update time from NHL's API (not Jay's add-in) is all over the map, time-wise. I've even seen the NHL wait until the ice-side officials agree it's a good goal before sending out the API goal update. So there's nothing Jay can do about that, his add-in

[2021-03-21 01:09] nutsofamily commented on #31
I hope Jay ( if you are listening lol) I'm not complaining. I've tried pausing the live tv and see if that helps but you are absolutely right. It's all over the place. I think this is nest used for me if I'm watching a different program for reference for my goal light and code red goal horn flow. THANKS AGAIN for the work!!

[2021-03-21 01:54] JayBlackedOut commented on #31
I take zero offense. I'm just happy that people are making use of my fun little project. I simply closed the issue because it is not within my control. Thanks for the feedback.

[2021-03-23 04:39] nutsofamily opened #32 "sensor.nhl_hockey"
Am I missing something? I cannot get Final score to report:

I dont see sensor.nhl_hockey in my entities?

- id: final_score
  alias: final_score
  trigger:
    platform: state
    entity_id: sensor.nhl_hockey
    from: Game Over
    to: Final
  action:
    service: notify.alexa_media_everywhere
    data:
      message: 'Final Score: {{ state_attr( ''sensor.away_team'', ''friendly_name'')

[2021-03-23 04:44] nutsofamily opened #33 "away scores"
In my log i get this:
Error evaluating 'template' trigger for 'away_scores': UndefinedError: 'None' has no attribute 'state'
9:41:57 PM – template (WARNING) - message first occurred at 9:41:57 PM and shows up 2 times
Error while processing template: Template("{{ states.sensor.away_team.state | int > states('numeric_input.away_score') | int }}")
9:41:57 PM – helpers/template.py (ERROR) - message fi

[2021-03-23 17:17] nutsofamily commented on #32
This is my config:

`  - platform: nhl_api
    team_id: 8
    name: "NHL Montreal Canadiens"
    scan_interval: 1

  - platform: nhl_api
    team_id: 10
    name: "NHL Maple Leafs"
    scan_interval: 1

  - platform: nhl_api
    team_id: 23
    name: "NHL Vancouver Canucks"
    scan_interval: 1

  - platform: nhl_api
    team_id: 52
    name: "NHL Winnipeg Jets"
    scan_interval: 1

  - platform:

[2021-03-23 17:18] nutsofamily commented on #32
`- id: away_scores
  alias: away_scores
  trigger:
  - platform: template
    value_template: '{{ states.sensor.away_team.state  | int > states(''numeric_input.away_score'')
      | int }}'
  action:
  - service: input_number.set_value
    entity_id: numeric_input.away_score
    data_template:
      value: '{{ states.sensor.away_team.state |int }}'
  - service: notify.alexa_media_everywhere
    da

[2021-03-26 04:42] JayBlackedOut commented on #33
Hi @nutsofamily, you need to update the entity IDs from this automation you borrowed to yours. This is not a bug with this component. Please seek help on the Home Assistant Community forums, subreddit or discord.

[2021-03-26 04:42] #33 closed

[2021-03-26 04:43] JayBlackedOut commented on #32
Hi @nutsofamily, you need to update the entity IDs from this automation you borrowed to yours. This is not a bug with this component. Please seek help on the Home Assistant Community forums, subreddit or discord.

[2021-03-26 04:43] #32 closed

[2021-04-08 13:12] delzear opened #34 "Schedule error"
There is a bug in the schedule, the your NHL Api schedule has the HABS (team_id =8) playing the Maple Leafs but the Official Schedule has them playing the Jets. I know there was a schedule change because of the pandemic.

![image](https://user-images.githubusercontent.com/727891/114032388-42c2da00-984a-11eb-8232-9a04c5afbaee.png)
![image](https://user-images.githubusercontent.com/727891/114032528-

[2021-04-08 14:06] waltlillyman commented on #34
During the pandemic, I've seen the NHL wait until two hours before gamete to correct the game schedule via the API. Even though it's correct on the NHL web site, for whatever reason, the NHL seems to update the API last.

[2021-04-08 14:09] delzear commented on #34
I'm developing a card for the next day/week Schedule and the API seemed fine. So I thought it might be an issues!
Thanks!

[2021-04-08 16:10] JayBlackedOut commented on #34
Thanks for bringing this up. As @waltlillyman mentioned, the info comes directly from the NHL so not much I can do. Definitely share that card with the community though!!!

[2021-04-08 16:10] #34 closed

[2021-08-04 11:53] rishabmehta7 opened #35 "No issue, Just a way to reach you"
Hi Jay,

I have no issues, just a fellow developer who wants your help in developing a custom integration for Hass. If you have some free time would you be willing to go on a zoom or something similar?

Rishab

[2021-08-04 12:30] JayBlackedOut commented on #35
Hi @rishabmehta7,

Now isn't the greatest time. I will reach out to you when my schedule clears up. This may be a few months though.

Thanks,

[2021-08-04 12:30] #35 closed

[2021-08-04 12:33] rishabmehta7 commented on #35
Absolutely fine. Thank you for reaching out :-)

[2021-09-29 03:03] addd45 opened #39 "Sensor still reports "Today", "Tomorrow" based off UTC timestamp"
**Describe the bug**
The sensor that updates the next game time as "Today" or "Tomorrow" updates at the UTC timestamp. For example, in CST (GMT-5), at ~7PM, the sensor reported a game "Today" @ 6PM. However, obviously the game is tomorrow at 6PM

**To Reproduce**
Steps to reproduce the behavior:
Properly setup the sensor in home assistant, wait for a day or 2 before a next game. Observe when the s

[2021-09-30 12:49] JayBlackedOut commented on #39
Interesting one. Will see if I can get to it today. Thanks!

[2021-09-30 15:43] JayBlackedOut commented on #39
Just reviewed the code and it looks like I made sure to localize the current time before checking if it's today or tomorrow... This shouldn't be happening. I'm going to see what happens at midnight UTC tonight.

@addd45 what version of the sensor are you using?

[2021-09-30 15:50] addd45 commented on #39
I'm using the latest version on hacs (0.9).
It's weird because I can definitely see that the next game timeb is correct and in the right timezone. It's *only* the thinking of the sensor flipping from today, tomorrow, etc.

[2021-09-30 17:00] addd45 commented on #39
Could this be where the issue lies (I'm not familiar with python too much so I could be way wrong :)

[code]

[2021-09-30 19:07] kylesmith63 opened #40 "mapping proxy error"
**Describe the bug**
Added template section to add the frontend cards and getting a mapping proxy error

**To Reproduce**
Add NHL API sensor and template to configuration.yaml

**Expected behavior**
Map attributes from NHL API to use in frontend

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Home Assistant Information**
 - Installation Method: Docker
 - Version: 2

[2021-09-30 20:27] JayBlackedOut commented on #39
That is the relevant bit of code. The variable `now` holds the localized date and time. `dttm_local` holds the game's localized date and time. The logic is basically, if `dttm_local` = `now`, then display "Today", if `dttm_local` = `now` + 1 day then display "Tomorrow", otherwise display the game's actual day and time.

[2021-09-30 20:35] JayBlackedOut commented on #40
Hi @kylesmith63,

Can you try removing the name key from the sensor configuration and restart hass?

[code]

[2021-09-30 20:59] kylesmith63 commented on #40
Still getting error for score

[code]

[2021-09-30 21:05] JayBlackedOut commented on #40
Ok, can you click on "Developer Tools" in the sidebar, type "sensor" where it says filter entities and tell me the name that appears for your NHL sensor? It _should_ be `sensor.nhl_sensor` but maybe something is up. When you find it, can you please also include a snapshot of the table showing "Entity", "State" and "Attributes"?

[2021-09-30 21:14] kylesmith63 commented on #40
**Entity:**
sensor.nhl_sensor
NHL Sensor

**State:**
Tomorrow, 6:00 PM

**Attributes:**
national_broadcasts: SN1
away_broadcasts:
home_broadcasts:
game_id: 2021010044
live_feed: /api/v1/game/2021010044/feed/live
game_state: Scheduled
away_id: 23
home_id: 20
away_name: Vancouver Canucks
home_name: Calgary Flames
next_game_time: 6:00 PM
next_game_date: October 1, 2021
away_logo: https://www-league.n

[2021-09-30 21:30] JayBlackedOut commented on #40
It just dawned on me... Should have caught this earlier. The warning is saying the `home_score` and `away_score` attributes don't exist. This is true when there is currently no live game. You can actually ignore the warnings... Everything will still function properly.

If you really insist on getting rid of those warnings, you can use the following template:
[code]
instead of:
[code]

Modify as ne

[2021-09-30 21:40] JayBlackedOut commented on #40
Actually, this may be better as it's much more succinct:

[code]

[2021-09-30 22:00] kylesmith63 commented on #40
Ok got it working I think, it really didnt like the single quotes around away_score. Also made it so it will just a show a "-" when there is no score present.

[code]

So the entity card ends up looking like

![image](https://user-images.githubusercontent.com/5545177/135535737-ec1a166d-5695-45ae-8320-26161767d5aa.png)

[2021-09-30 22:14] JayBlackedOut commented on #40
Oh that makes sense because the whole expression is already surrounded by single quotes. Glad it's working.

[2021-09-30 22:14] #40 closed

[2021-09-30 22:53] kylesmith63 commented on #40
Thanks, added the double quotes

[2021-10-01 00:55] JayBlackedOut commented on #39
It's current close to 1am UTC and the sensor is still correctly showing "Tomorrow" for me. I can't find anything in my code that would cause the issue you are seeing and I cannot replicate it. Please make sure your time zone is set correctly in Homes Assistant.

[2021-10-01 00:55] #39 closed

[2021-10-05 03:21] addd45 commented on #39
I believe I found the issue. The manifest hasn't been updated, therefore the version I still have is 0.8.1. It isn't seeing 0.9 as an update:
Here is the manifest.json as it exists on the repo right now. Please update that so we can actually update :)

{
  "domain": "nhl_api",
  "version": "0.8.1",
  "name": "NHL API",
  "documentation": "https://github.com/JayBlackedOut/hass-nhlapi",
  "dependenc

[2021-10-05 21:31] addd45 opened #41 "update manifest.json to new version"
I believe I found the issue with timezones. The manifest hasn't been updated, therefore the version I still have is 0.8.1. It isn't seeing 0.9 as an update:
Here is the manifest.json as it exists on the repo right now. Please update that so we can actually update :)

{
  "domain": "nhl_api",
  "version": "0.8.1",
  "name": "NHL API",
  "documentation": "https://github.com/JayBlackedOut/hass-nhlapi

[2021-10-07 21:08] #41 closed

[2021-10-22 16:33] kylewilliams321 opened #42 "Team logos don't show plus lovelace card doesn't update anything during game"
When my team is 16
![image](https://user-images.githubusercontent.com/39958233/138490286-48d9ff9e-b418-4f7d-af18-7ac83d17f038.png)

When I switch to 6
![image](https://user-images.githubusercontent.com/39958233/138491178-66732185-2bea-46f0-89f0-921e02b7665e.png)

**Describe the bug**
See screenshot of next game for Blackhawks id 16. Both Home and Away are blank logos.
However, if I were to choose

[2021-10-29 22:25] JayBlackedOut commented on #42
Try this instead:
[code]

[2021-11-06 23:24] ctml91 commented on #42
Slightly unrelated but if its possible it would be nice if the following css could be added to team logos to the image is centered.

`
background-position: center;
`

[2021-11-06 23:46] JayBlackedOut commented on #42
I think that would require a custom card since everything is being displayed in a regular entities card...

[2021-11-06 23:47] JayBlackedOut commented on #42
@VonnerNIX did my suggestion work?

[2021-11-07 00:03] ctml91 opened #43 "During handling of the above exception, another exception occurred"
**Describe the bug**

The sensor frequently stops updating, when this happens no more updates occur until home assistant is restarted. The below logs show the error.

**Expected behavior**
Exception caught and handled, next request goes through successfully.

**Home Assistant Information**
 - Installation Method : Docker
 - Version: 2021.10.5
 - Running on: Fedora Linux Server

**Configuration**
[

[2021-11-08 13:51] VonnerNIX commented on #42
Unfortunately it did not.  I have pretty much given up.  The sensor.nhl_stl_blues still shows all the attributes for the game/schedule, but the home and away teams still show Unavailable.

[2021-11-08 14:12] JayBlackedOut commented on #42
That looks like an indentation error. Can you please paste your configuration for the sensor and the template sensors?

[2021-11-08 15:15] VonnerNIX commented on #42
[code]

[2021-11-08 18:26] JayBlackedOut commented on #42
Yes, the `template` block should not be indented  it should be inline with the `sensor` block above it.

[2021-11-08 19:18] VonnerNIX commented on #42
Thank you for sticking with this!  I thought I had tried that and got the same result, but after your recommendation it now works.

Cheers to you Jay!

[2021-11-08 19:40] JayBlackedOut commented on #42
Glad I could help

[2021-12-06 03:03] dawgfan715 opened #44 "No Kraken Team ID"
Just found this app and Happen to live in Seattle.  I do not see a Kraken ID in the teams.md file

[2021-12-06 03:29] dawgfan715 commented on #44
I apologize. I was able to find it https://statsapi.web.nhl.com/api/v1/teams. #55.

[2021-12-06 03:29] #44 closed

[2021-12-06 04:07] JayBlackedOut commented on #44
Hi, thanks for raising this. I will add Seattle to the table shortly.

[2021-12-06 19:43] rappazzo commented on #42
I'm trying to update my config for this now too, but HA tells me: "Entity not available: sensor.template_home_team"

Here is my config:
[code]
And my lovelace config is
[code]

Interestingly, if I look at my Entities, it shows me that I have `sensor.new_york_rangers` which is a "Template" and `sensor.ny_rangers` which is a "Sensor".  And I also just noticed that I have a `sensor.chicago_black_hawk

[2021-12-06 19:50] redfameMN commented on #42
Your think your name needs to be 'ny rangers' names are not in line.
Here is a response from up the thread that shows it.

  - platform: nhl_api
    team_id: 19
    name: 'NHL STL Blues'

    template:
      - sensor:
        - unique_id: nhl_blues_away_team
          name: '{{
states.sensor.nhl_stl_blues.attributes.get("away_name", "") }}'
          state: '{{
states.sensor.nhl_stl_blues.attribut

[2021-12-06 19:59] rappazzo commented on #42
I don't see how that is different that what I posted above.  The formatting on your message is mangled (I presume because you replied by email), so I can't really read it.

[2021-12-06 20:03] redfameMN commented on #42
your config didnt have quote around name

On Mon, Dec 6, 2021 at 2:59 PM Michael Rappazzo ***@***.***>
wrote:

[2021-12-06 20:09] rappazzo commented on #42
Hmmm...That didn't seem to help.
[code]
Everything is still reporting the same as above.

[2021-12-06 20:52] JayBlackedOut commented on #42
That's interesting. It looks like the template sensors are rendering with the `name` as the unique ID rather than what you defined. This may be new behavior in Home Assistant. What version are you on?

[2021-12-06 20:53] rappazzo commented on #42
`core-2021.11.5` and `supervisor-2021.10.8`

[2021-12-07 16:36] rappazzo commented on #42
I think that I have figured it out.  What I have ended up doing is a lot closer to the old way:
[code]
This seems at odds with what is written above, where it seems like it is using `template` as a root level attribute, whereas here I am using the template platform in the sensor.  Since this seems to solve my issue, I will leave it at that.  Thanks all for trying to help.

[2021-12-07 18:37] JayBlackedOut commented on #42
Hmm. That doesn't seem to be supported in the HASS docs... Welp, if it works, it works!

[2021-12-14 13:27] 123dev opened #45 "Warning with Home Assistant 2021.12.1"
The log file reports the following.
[code]

Home Assistant version: 2021.12.1

[2022-01-16 20:49] JayBlackedOut commented on #45
Merging PR now.

[2022-01-16 20:50] #45 closed

[2022-01-16 20:54] JayBlackedOut commented on #43
The requests package is throwing error 104 "Connection reset by peer". I don't believe this error is related to the component but to the requests package itself. I found this that may help:
https://stackoverflow.com/questions/41832838/python-error-104-connection-reset-by-peer

Please let me know if following those instructions helps.

[2022-01-16 20:55] #42 closed

[2022-01-16 21:06] ctml91 commented on #43
Thanks! My home assistant is deployed via the official docker image however and the component is installed within so the configuration/packages are being shipped with the image. I don't know if it's possible for other components to interfere, I don't have that much but I do have a python related one called pyscripts which I'll try removing.

[2022-02-26 23:12] JayBlackedOut commented on #43
Unfortunately will have to close this unless someone raises the same issue or can recreate it.

[2022-02-26 23:12] #43 closed

[2022-03-07 21:34] Slikkster opened #48 "Suggestion: add tracked team's game schedule to calendar"
Would be nice to have the game schedule for the tracked team appear in Home Assistant's calendar. Apologies if there is already some way to do this, I have searched but documentation on HA's built-in calendar seems to be non-existent. I have 2 other addons from HACS that show entries in this calendar, so it must be possible.

[2022-03-07 22:54] JayBlackedOut commented on #48
This is a good suggestion but beyond the scope of this component. Off the top of my head, you could download the team's calendar to your Google calendar and expose it to Home Assistant using the Google Calendar integration.

[2022-03-07 22:54] #48 closed

[2022-04-05 01:23] ctml91 commented on #43
Turns out my torrent program transmission was causing this. Even though it didn't appear to affect anything except this HA component, I shut it off during games and never have the issue.

[2022-04-05 01:28] ctml91 opened #49 "Sensor not updating when restarting HA during games"
**Describe the bug**
After restarting HA during a game that is being tracked, the sensor updates once on startup but does not continue with the polling possibly until the next game. There are no errors in the HA logs like I've seen before with another unrelated issue.

**To Reproduce**
Restart HA during a game which a sensor is currently tracking.

**Expected behavior**
Update the sensor

**Home A

[2022-04-05 01:44] JayBlackedOut commented on #43
Glad you figured it out

[2022-04-05 02:02] ctml91 commented on #49
From what I read in the sensor code, it's returning a scan internal based on game state so in progress uses the default or custom interval while the longest being neither pregame or in progress which is 600 (10 minutes). In this case, I'm not sure if it's this component or for HA not polling this sensor even though it's been instructed to.

No logs from HA though to confirm why the sensor is not b

[2022-04-13 00:29] addd45 commented on #49
Yeah I can confirm I've had this issue since the beginning of the integration, haven't found a workaround

[2022-04-14 22:04] JayBlackedOut commented on #49
You are correct. At the very least, the sensor should update its state after 600 seconds/10 minutes regardless if there is a game currently on or not. Have you defined a custom `scan_interval` in your configuration or are you using the default? Have you waited at least 10 minutes to see if the sensor updates itself after restarting HA?

[2022-06-21 13:51] dredwater commented on #49
Same issue here.  I restarted HA after the first period and it was completely out of sync  Still showing game in progress this morning.  Here is a screenshot for last night after the second period.  At the time it was 6-2 TB, but the sensors still show 4-2.  No custom settings in my configuration, just the default provided on the Github.  (Last time it happened, I had to uninstall and re-install.

[2022-06-21 21:45] ctml91 commented on #49
Yes waited the full 10 min, did not have a custom scan interval. I believe I also tried setting one lower and it didn't help. Similar to above user the sensor does not update until the next day, after which it's good and updates normally during the next game. But if restarted during the game, the same thing will occur.

[2022-06-26 20:54] dnestico opened #50 "Can't figure out how to display in frontend"
I am on the latest version of HA and have tried following the tutorial from the docs, and then from the community but I can't figure out how to make the template sensors properly to display.

Here is my code from my configuration.yaml:

[code]

<img width="1082" alt="Screen Shot 2022-06-26 at 4 55 06 PM" src="https://user-images.githubusercontent.com/3034555/175833469-990ddf32-9b8a-416a-8463-baff8

[2022-06-26 22:59] JayBlackedOut commented on #50
Hi @dnestico,

You are using a deprecated configuration for the template sensors. Please follow the instructions entitled "The below will only work on Home Assistant Core 2021.8.X or later" in the [Frontend Examples](https://github.com/JayBlackedOut/hass-nhlapi/blob/master/frontend.md).

This should work for you:
[code]

Please let me know if this helps.

[2022-06-26 23:01] JayBlackedOut commented on #50
Keep in mind, when there are no games scheduled, the template sensors won't render any information. You'll have to wait until at least the pre-season to see anything populate in your `away_team` and `home_team` template sensors.

[2022-06-26 23:07] JayBlackedOut commented on #49
Thanks everyone. Unfortunately, I can only test bug fixes during live games. I won't be able to work on this for at least another week and so will have no games to test with... If somebody wants to give it a shot and submit a PR, I'd be happy to review. If not, this will have to wait until next season.

[2022-06-27 17:37] JayBlackedOut commented on #50
No. Change `nhl_leafs` to `nhl_sensor` in the templates.

[2022-06-27 19:07] dnestico commented on #50
Nice! I think it's fixed now. Thanks.

<img width="549" alt="Screen Shot 2022-06-27 at 3 06 08 PM" src="https://user-images.githubusercontent.com/3034555/176016796-91885d4a-aa89-4f01-931c-a4a4b60a6be0.png">

<img width="1096" alt="Screen Shot 2022-06-27 at 3 07 11 PM" src="https://user-images.githubusercontent.com/3034555/176016956-db417cd0-bd04-4171-81b9-e16567c71555.png">

[2022-06-27 19:19] #50 closed

[2022-09-08 00:14] jeff720 opened #51 "Integration not loading after 2022.9.0 Update"
**Describe the bug**
After updating to the latest 2022.9.0 build, HA throws an error about integration and the configuration validation fails with the following error:
                      Platform error sensor.nhl_api - Requirements for nhl_api not found: ['pynhl==0.2.2'].

I have to comment out the configuration.yaml entry for it pass.

**Home Assistant Information**
 - Installation Method [e.g

[2022-09-13 11:55] jeff720 commented on #51
updating to 2022.9.2 and everything worked again.

[2022-09-13 11:55] #51 closed

[2022-09-24 18:20] rspierz opened #52 "Too many api requests to statsapi.web.nhl.com"
`Traceback (most recent call last):
  File "/usr/src/homeassistant/homeassistant/helpers/entity.py", line 515, in async_update_ha_state
    await self.async_device_update()
  File "/usr/src/homeassistant/homeassistant/helpers/entity.py", line 710, in async_device_update
    raise exc
  File "/usr/local/lib/python3.10/concurrent/futures/thread.py", line 58, in run
    result = self.fn(*self.args, *

[2022-09-24 18:24] JayBlackedOut commented on #52
What's your polling interval set to in your configuration?

[2022-09-24 19:12] JayBlackedOut commented on #52
Did this happen while a game was live? The sensor only updates every 10 seconds in pre-game and less frequently before that.

[2022-09-26 10:40] blockdrops commented on #52
I did not see a goal fired for Leafs preseason games as well

[2022-09-26 10:58] JayBlackedOut commented on #52
Sounds like there have been some changes to the API. Unfortunately, the NHL doesn't provide any documentation so the community has to figure things out on our own. I'll look into this in the coming weeks.

[2022-09-27 02:14] waltlillyman commented on #52
FYI, goals scored by the Blues are triggering my HA automation successfully, tonight.
Let’s Go Blues!

[2022-10-05 12:57] JayBlackedOut commented on #52
Yes, I think you're right. I tested over a few different games and the logs are clean and the events are firing as expected. Will close the issue.

[2022-10-05 12:57] #52 closed

[2022-10-14 10:47] blockdrops opened #53 "Update for sensor.nhl_sensor fails"
I can't get this awesome integration working, and I'm hoping for some guidance.   Here's the error in my log:

Logger: homeassistant.helpers.entity
Source: C:\Users\KC\Documents\HassWP_2022.8.6\python-3.9.10.amd64\lib\site-packages\homeassistant\helpers\entity.py:516
First occurred: 6:28:26 AM (680 occurrences)
Last logged: 6:39:47 AM

Update for sensor.nhl_sensor fails
Traceback (most recent call

[2022-11-20 02:57] waltlillyman commented on #49
I'm having the opposite problem where my sensor will stop updating until I restart HA. Then it resumes updating.
I'm going to try hitting the API with Postman from my laptop to see if the problem is on my home network or in my HA setup.

[2022-11-20 03:14] ctml91 commented on #49
I had the same issue (separate from this one), found it that for some reason when I have my torrent client (transmission) running during the game with torrents actively seeding it can interrupt this sensor and it stops updating in the middle of a game. It took a while to figure that out because there are no signs of any network issues and everything else on home assistant continues to run fine. So

[2022-11-20 18:34] waltlillyman commented on #49
I made sure I had no other network activity going on during last night's game. Each time the sensor stalled more than 2 minutes, I used Postman to manually hit the NHL API and it responded immediately every time.

Occasionally, but not often, these lines appeared in `homeassistant.log`. If I read this correctly, it's timing out while trying to create the socket, even before it tries to reach the N